*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECFEFF;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    padding: 0.5rem;
    background-color: rgb(196, 229, 248);
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-item {
    display: inline;
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 80;
    max-height: 30px;
    padding-right: 5%;
    padding-left: 5%;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-list {
    display: flex;
    padding: 12px;
    background-color:#1e497a;
    width: 100%;
    justify-content: space-between;
}

.nav-link:hover {
    font-size: 120%;
}

.container3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    color:rgb(255, 255, 255);
    margin: 2rem;
    text-shadow: 1px 1px 3px rgb(167, 167, 167)
}

.thl{
    src: url("./thl-logo-fi.png");
    background: url("./thl-logo-fi.png");
    background-size: contain;
}
.hero {
    width: 100%;
    height: 100vh;
    background: url("./images/baby.etusivu.jpeg");
    background-size: cover;
    display: flex;
}

.hero2{
    width: 100%;
    height: 100vh;
    background: url("./images/toinen\ vauva\ ja\ rokote.jpg");
    background-size: cover;
    display: flex;
}

.hero3{
    width: 100%;
    height: 100vh;
    background: url("./images/vauvajapyyhe.jpg");
    background-size: cover;
    display: flex;
}

.hero4 {
    width: 100%;
    height: 100vh;
    background: url("./images/naurava-vauva.jpg");
    background-size: cover;
    display: flex;
}

.video {
    align-items: center;
    justify-content: center;
    margin: 3rem;
    
}

.Liisa{
    background: url("./images/mom-and-child-in-autumn.jpg");
  
    background-repeat: no-repeat;
    background-position: center ;
}

/*Etusivun faktalaatikko*/

.faktalaatikko{
    margin-top: 5rem;
    margin-bottom: 5rem;
    justify-content: center;
    display: flex;
}

.faktalaatikko::after{
    content: "";
    clear: both;
    display: table;
}

.faktapallura{
    background-color:#1e497a;
    border-radius: 50%;
    float: left;
    width: 33.33%;
    padding: 25px;
    height: 25rem;
    width: 25rem;
    margin: 2rem;
    text-align: center;
    font-size: 1.8rem;
    color: cornsilk;
    padding-top: 9.5rem;
}

.kolmaspallura{
    transform: translateY(-10%);
}


/*Etusivun herättelevä-teksti*/

.ht-palkki{
    background-color:#1e497a;
    padding-top: 8rem;
    padding-bottom: 10rem;
}
.herättelevä-teksti-otsikko{
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}

.herättelevä-teksti{
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 13rem;
    margin-right: 13rem;
    color: white;
}


/*footer*/

footer{
    padding: 4rem;
    color:  rgb(3, 1, 17);
    font-size: 0.5rem;
    background-color:  rgb(196, 229, 248);
    text-align: center;
    position: relative;

}

.back-to-top{
    width: 8.2rem;
    height: 8.2rem;
    background-color: rgb(196, 229, 248);
    position: absolute;
    top: -3.9rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    padding: 2rem;
}

.back-to-top i{
    color: black;
    font-size: 1.6rem;
    padding: 2rem;
}


.footer-content h4{
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.nuoliholder {
    max-block-size: 10%;
    max-height: 10%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}


.instagram-logo{
   
    background: url(./instagram.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.facebook-logo{
   
    background: url(./images/facebook-circular-logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.twitter-logo{
   
    background: url(./images/twitter-sign.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
   
}

.social-icons{
    list-style: none;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;

}


.logo2{
    margin-bottom: 1rem;
}

.rokotusohjelmaholder {
    display: flex;
    justify-content: center;
    background-color: #ECFEFF;
  
}

.rokotusohjelma {
    display: grid;
    grid-template-columns: 15rem 15rem 20rem;
    grid-template-rows: 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
    padding-left: 10rem;
    padding-top: 5rem;
    padding-right: 10rem;
    padding-bottom: 2rem;


}

.alustusholder {
    display: flex;
    background-color: #ECFEFF;

    min-height: 5rem;
    justify-content: center;
}

.alustus {
    justify-self: left;
    font-size: larger;
    padding-top: 5rem;
    max-width: 30%;
}

.alustusotsikko {
    padding-bottom: 3rem;
    font-size: x-large;
}

ui{
    display: flex;
    font-size: large;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: rgb(69, 102, 145);
    padding: 5px;
    padding-left: 10px;
    font-family:'Montserrat', sans-serif;
    color:rgb(19, 22, 26);
}

#toinenvauva {
    align-self: flex-end;
    justify-self: right ;
    width: 33rem;
    height: auto;
    padding-left: 5rem;
    border-radius: 6px;
}

.lisäysholder {
    display: flex;
    justify-content: center;
    
    padding-bottom: 5rem;
}

.lisäys {
    font-size: larger;
    padding-top: 5rem;
    max-width: 60%;
    font-family:'Montserrat', sans-serif;
    color:rgb(19, 22, 26);
}

.blogiotsikko{
    margin: 4rem;
}

.osio{
    padding: 0.6rem;
}
.blogitekstinotsikko{
   
    padding: 0.6rem;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color:rgb(19, 22, 26)
}

.blogiteksti{
    margin-right: 20rem;
    margin-left: 20rem;
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 150;
    color: rgb(19, 22, 26);
    justify-content: center;
    align-items: center;
}



.blogikuva{
    margin-bottom: 3rem;
    overflow: hidden;
    justify-content: center;
    display: flex;
    width: 30px;
    height: 30px;
}






.blogiosionotsikko{
    font-size: 1.9rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
    color: rgb(30, 36, 44);
}

.disinformaatioholder {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding-left: 20%;
    padding-top: 5rem;
    padding-bottom: 10rem;
    
}

.disinformaatio-otsikko {
    display: flex;
    justify-self: center;
    font-size: x-large;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-family:'Montserrat', sans-serif;
    color: rgb(19, 22, 26);
}

.disinformaatio {
    justify-self: center;
    align-self: center;
    font-size: large;
    padding: 1rem;
    font-family:'Montserrat', sans-serif;
    color:rgb(19, 22, 26);
}

.Seuraa-meitä{
    margin-top: 7rem;
    margin-bottom: 0rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgb(30, 36, 44)
}

#iso{
    font-size: xx-large;
}

#curator-feed-vdm-layout {
    justify-self: center;
    align-self: center;
    padding-left: 5%;
    padding-top: 3rem;
    padding-bottom: 5rem;
}



/*kommenttiboksi*/
#rokotustarinaotsikko{
    color:rgb(30, 36, 44);
    padding-top: 3rem;
}

.input-container {
    margin: 20px 0px;
    display: flex;
  
  }
  
  .input-field {
    height: 30px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0 5px;
  }
  
  .input-button {
    height: 30px;
    padding: 0px 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 10px;
    background-color: #68edff;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .input-button:hover {
    background-color: #40cee0;
  }

 .App {
     justify-content: center;
     padding-left: 32%;
     
 }

 .tarinalista {
     max-width: 60%;
 }

 .tarina {
     padding-top: 3rem;
     font-family:'Montserrat', sans-serif;
     font-size: 14px;
     font-weight: 150;
     padding: 3rem;
     margin: 1.5rem;
     border:rgb(0, 0, 0) solid 1px;
 }

 textarea {
     width: 35rem;
     height: 10rem;
 }

 .inputfield {
     padding-bottom: 5rem;
 }

 .border-right {
     border-right: 0px;
 }

 .borderleft {
     border-left: 0px;
 }

 .bordertopleft {
     border-top: 0px;
     border-left: 0px;
 }

 .bordertopright {
     border-top: 0px;
     border-right: 0px ;
 }

 .border-top {
    border-top: 0px;
 }

 .borderbottomright {
     border-bottom: 0px;
     border-right: 0px;
 }

 .borderbottomleft {
     border-bottom: 0px;
     border-left: 0px;
 }

 .border-bottom {
     border-bottom: 0px;
 }
/*responsiivisuudesta vastaavat breakpointit*/
 @media only screen and (max-width: 1400px) {
     .faktapallura {
        width: 20rem;
        height: 20rem;
        font-size: 1.4rem;
        padding-top: 7.5rem;
     }
 }

 @media only screen and (max-width: 1200px) {
     .faktapallura {
         width: 17rem;
         height: 17rem;
         font-size: 1.1rem;
         padding-top: 7rem;
        
     }
     .blogiteksti {
         font-size: 14px;
         margin-left: 10rem;
         margin-right: 10rem;
        
     }
     textarea{
        width: 25rem;
    }
    .App{
        padding-left: 25%;
    }
    }

 
 @media only screen and (max-width: 760px) {
    .blogiteksti{
        margin-left: 5rem;
        margin-right: 5rem;
        font-size: 14px;
    }
    .nav-link {
        font-size: 18px;
       
    }
    .nav-item {
        font-size: 20px;
    }
    .nav-list{
        padding:unset;
        padding-bottom: 18px;
        padding-top: 18px;
    }
    textarea{
        width: 20rem;
    }
    .App{
        padding-left: 18%;
    }
    .rokotusohjelma {
        display: grid;
        grid-template-columns: 7rem 7rem 12rem;
        grid-template-rows: 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 10rem 12.5rem 10rem;
        padding-left: 5rem;
        padding-top: 5rem;
        padding-right: 5rem;
        padding-bottom: 2rem;
        font-size: 14px;
    
    
    }
    .faktapallura {
        width: 12rem;
        height: 12rem;
        font-size: 0.6rem;
        padding-top: 3.5rem;
       
    }

   }


 @media only screen and (max-width: 480px) {
    .disinformaatioholder {
        max-width: 95%;
        padding-left: 5%;
        padding-top: 5rem;
        padding-bottom: 10rem;
    }
 }